.multiselect {
    width:400px;
    height:100px;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}

.videolist{
    display: inline-block;
    margin-right: 20px;
}